@import "../../app-variables";

$service-action-container-offset-top: 20;
$service-action-container-offset-horizontal: 3;

$service-action-offset-vertical: 12;
$service-action-font-size: 18;

$page-offset-horizontal: 20;

$heading-font-size: 21;
$subheading-font-size: 16;


.service-page {
  padding-left: $page-offset-horizontal;
  padding-right: $page-offset-horizontal;

  .title {
    font-size: $heading-font-size;
    color: $primary;
    text-transform: capitalize;
  }

  .description {
    font-size: $subheading-font-size;
    text-transform: capitalize;
  }

  .action-container {
    padding-top: $service-action-container-offset-top;
    padding-left: $service-action-container-offset-horizontal;

    .action {
      color: $primary;
      font-size: $service-action-font-size;
      padding-top: $service-action-offset-vertical;
      padding-bottom: $service-action-offset-vertical;
    }
  }
}
